body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: rgb(254 80 0);
  color: #000000;
}

fieldset {
  border: 2px solid #333;
  padding: 20px;
  background-color: white;
  max-width: 1200px;
  margin-bottom: 10px;
}

legend {
  font-size: 24px;
  font-weight: bold;
  padding: 0 10px;
  background-color: #373A36;
  color: RGB(208 208 206);
}
label {
  font-weight: bold;
  white-space: nowrap;
}
input {
    padding: 5px 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}
select {
    padding: 5px 8px;
    font-size: 14px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
}
/* Submit en opnieuw btn */
input[type="submit"], [type="button"] {
    background-color: #373A36;
    color: RGB(208 208 206);
    border: none;
    cursor: pointer;
    font-weight: bold;
}

footer {
  font-family: Arial;
}